:root {

    --blanco: #ffffff;
    --oscuro: #212121;
    /*colores en hexadecimal */
    --primario: #f1c107;
    /*tambien podenos usar en rgb como rgb(255,255,255)*/
    --secundario: #0097a7;
    --gis: #757575;
    --grisClaro: #dfe9f3;

    --fuenteprincipal: 3rem:
}

/* seudoelementos, elementos que no existen, custom propierties, con esto podemos definir nuestra paleta de colores que vayamos a usar. */

html {
    font-size: 62.5%;
    /* Las dos lineas de arriba ayudan a controlar los valores de rem dando 1 rem ---> a 10px, los comandos que se escriban en body se aplicaran a todo el documento*/

    box-sizing: border-box;
    scroll-snap-type: y mandatory; /*Para configurara el scroll del mouse*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
    /* * selecciona todos los elementos que se tengan, en este caso todos los elementos del html. */
}

/*estas lineas desde box-sizing ayuda a acomodar los tamaños de las cajas que se crean, para que cuando se modifiquen los tamaños se puedan acomodar sin distorciones.*/

.sombra {

    -webkit-box-shadow: 0px -4px 27px -7px rgba(135, 135, 135, 1);
    -moz-box-shadow: 0px -4px 27px -7px rgba(135, 135, 135, 1);
    box-shadow: 0px -4px 27px -7px rgba(135, 135, 135, 1);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

/*Este estilo de sombra hace que se genere un cuadro con sombreado alrededor de le main en el cual fue puesto esta clase*/



body {

    font-size: 16px;
    font-family: 'Krub', sans-serif;
    ;
    /*para cambiar la fuente de la letra*/
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
    /*Crear un fondo colorido gradiente, que va desde gris claro hasta blanco*/

}



h1 {
    font-size: 3.8rem;
}

h2 {

    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
    /* alinear texto, centro,derecha,izquierda */
    color: var(--oscuro);
    /* cambiar color del texto */
}

/*Especificamos las caracteristicas que tendran las h de todo el documento, en este caso cada uno tiene su propio tamaño de letra, pero comparten la alineacion*/

.titulo span {
    /* .titulo span significa que el estilo que se va a aplicar esta dirigido solo para el span dentro de la clase titulo, si se dejara solo span el estilo se aplicara a todos los span que existan en el html. Se utiliza para especificar la etiqueta que se quiera editar*/
    font-size: 2rem;
    color: black;
}

.contenedor {

    max-width: 120rem;
    margin-top: 5rem;
    margin-right: auto;
    margin-bottom: 5rem;
    margin-left: auto;
    /* las 4 lineas de arriba ayudan a dar espacio alrededor de los margenes, ej. 0px, 5px, 10px, de separacion hacia arriba, abajo, izq, der.
    Estas 4 lineas se puede remplazar con margin: valor(top) valor(right) valor(bottom) valor(left);*/

}

.boton {

    background-color: var(--secundario);
    /*Color de fondo*/
    color: var(--blanco);
    /*color de texto*/
    padding: 1rem 3rem;
    /*espaciado de relleno, para formar un tipo caja alrededor del texto*/
    margin-top: 1rem;
    /* margen superior*/
    font-size: 2rem;
    /*tamaño de la fuente*/
    text-decoration: none;
    /*Sin decoraciones el texto*/
    text-transform: uppercase;
    /*Texto en mayusculas*/
    font-weight: bold;
    /*Engrosar el texto*/
    border-radius: 5rem;
    /*redondear esquinas del cuadro*/
    width: 90%;
    /*Tomara un ancho del 90% del tamaño total de la pantalla*/
    text-align: center;
    /*Alinea el texto al centro*/
    border: none;
    /*Elimina el borde predefinido*/
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}

/*Estas lisneas de codigo significan que caundo pase los 768px el ancho se coloque de manera auto, lo que pondra el tamaño por default de la caja en una pantalla grande*/


/*Utilidades*/

.w-sm-100 {
    width: 100%;
}

@media (min-width: 768px) {
    .w-sm-100 {

        width: auto;
    }

}

.alinear-derecha {
    justify-content: flex-end;
}

.flex {
    display: flex;

}

.nav-bg {

    background-color: var(--secundario);

}

.navegacion-principal {

    /*Adiferencia de margin padding escala hacia los interiores de donde se aplica*/
    display: flex;
    /* Habilita opciones de flex*/
    flex-direction: column;
    /*para cambiar la direccion de la barra de navegacion de columna a fila, en este caso en fila*/


}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
        /*Da un espacion entre si al contenido*/
    }

    /* media Querins sirve para acomodar la pantalla a los distintos dispostivos que entren en la pagina web, se le otorga un ancho minimo con el cual empiece a funcionar, en este caso a partir de 768px se ejecutara las lineas dentro del media*/
}


.navegacion-principal a {
    display: block;
    text-align: center;
    padding: 1rem;
    color: #ffffff;
    text-transform: capitalize;
    text-decoration: none;
    /* Los comandos text ayudan a modificar el texto, negrillas subrayado, delineado, etc. En este caso se usa para quitar cualquier decorado que tenga ese texto*/
    font-size: 2rem;
    font-weight: 700;

}

.navegacion-principal a:hover {
    /*Hover ayuda a rellenar con color un espacio en este caso el de las palabras de la navegacion principal*/
    background-color: var(--primario);
    color: var(--oscuro)
}

.hero {

    background-image: url(../img/hero.jpg);
    /* Colocar imagen de fondo*/
    background-repeat: no-repeat;
    /*Para que la imagen no se repita cuando se aleja de zoom la pagina*/
    background-size: cover;
    /*Para que la imagen cubra toda la pantalla*/
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    /*Dar color a la imagen con un fondo de transparencia*/
    /*background-color: rgb(0 0 0 / 70%);*/
    width: 100%;
    height: 100%;

    display: flex;
    /*Activar las opciones flex*/
    flex-direction: column;
    /* cambiar los items que esten en forma de columanas es decir uno a lado del otro */
    text-align: center;
    /* alinear el texto al centro*/
    align-items: center;
    /*alinear todos los items al centro*/
    justify-content: center;
    /*alinear los items al centro de manera vertical */

}

.contenido-hero h2,
p {

    color: var(--blanco);
    /*Color blanco del texto que se encuntra en h2*/

}

@media (min-width: 768px) {
    .servicios {

        display: grid;
        /*Para activar las propiedades de css grid*/
        grid-template-columns: 33.3% 33.3% 33.3%;
        /*Template columns crea columnas en este caso tres columnas que tomen 33.3% del espacio de servicios, tambien se puede usar 1fr 1fr 1fr 1fr*/
        /*grid-template-rows: 200px 800px;*/
        column-gap: 1rem;
        /*Separacion entre columnas de 1 rem*/
    }
}
/*Scroll snap*/
.servicio, .navegacion-principal, .formulario {

    scroll-snap-align: center;
    scroll-snap-stop: always ;
}/*Estas dos lineas ayudan a que cuando se de scroll con el mouse se diriga de manera auto a la siguiente seccion*/

.servicio {

    display: flex;
    /*Actvamos las opciones de flex*/
    flex-direction: column;
    /*Colocamos la direccion de forma de columnas*/
    align-items: center;
    /*Items alineados al centro*/

}

.servicio h3 {
    color: var(--secundario);
    /*Color de texto*/
    font-weight: normal;
    /*Grosor de texto*/
}

.servicio p {

    line-height: 2;
    /*Dar mas interlineado en el texto*/
    text-align: center;
    /*Texto centrado*/
    color: var(--oscuro);
}

.servicio .iconos {
    height: 15rem;
    /*Alto del cuadro*/
    width: 15rem;
    /*Ancho del cuadro*/
    background-color: var(--primario);
    /*color de fondo*/
    border-radius: 50%;
    /* redondear las esquinas, porcentaje de borde 100% es caudrado*/
    display: flex;
    /*opciones de flexbox*/
    flex-direction: row;
    align-items: center;
    /*Alinear items verticalmente en el centro*/
    justify-content: space-evenly;
    /*Contenido espaciado*/
}

.formulario {

    background-color: var(--gis);
    width: min(60rem, 100%);
    /*Utiliza el valor mas peque;o */
    margin: 0 auto;
    /*Se utiliza en casos como formulario, no se puede usar flex porq no se habilitan display flex en el contenedor*/
    padding: 2rem;
    /*Esapcio de relleno*/
    border-radius: 1rem;
    /*bordeado de esquinas*/

}

.formulario legend {
    text-align: center;
    /*Centrar texto*/
    font-size: 1.8rem;
    /*Tama;o de la fuente*/
    text-transform: uppercase;
    /*Texto en mayusculas*/
    font-weight: 700;
    /*grosor del texto*/
    margin-bottom: 2rem;
    /*margen inferior*/
    color: var(--primario);
    /*Color de texto*/

}

.formulario fieldset {
    border: none;
    /*Eliminar borde predeterminado creado por ek navegador */

}
@media (min-width: 768px) {
    .contenedor-Campos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    } 
}
.campo:nth-child(3), 
.campo:nth-child(4){
    grid-column: 1 / 3; /*Modifica el uso de las columnas que se creron con el grid, en este caso va desde la columna 1 hasta la 3*/

}/*si se tiene clases repetidas y se quiere editar una de ellas, se puede usar :nth-child() y dentro poner el numero en el q se ecuentre el orden, en este caso se tiene 4 clases con nombre campo y se desea editar solo la tercera clase con ese campo*/

.campo {
    margin-bottom: 1rem;
    /*Margen inferior*/


}

.campo label {

    color: var(--blanco);
    /*color de texto*/
    font-size: 1.5rem;
    /*Tama;o de la fuente o etxtp*/
    font-weight: bold;
    /*En negrillas*/
    margin-bottom: 1rem;
    /*Margen inferior*/
    display: block;
    /*uno encima de otro*/


}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 2rem;

}

.boton:hover {
    cursor: pointer;
    /*Convertir el cursor en un puntero*/
}

.campo textarea {
    height: 17rem;
}
.footer {
    text-align: center;
}
.footer p{
    color: var(--oscuro)
}